# Contract Configuration (Base Mainnet config)
NEXT_PUBLIC_CONTRACT_ADDRESS=0x743c74D3b77e3576d39aa00c5435D1931E0DAAD7
NEXT_PUBLIC_DEGEN_TOKEN_ADDRESS=0x4ed4E862860beD51a9570b96d89aF5E1B0Efefed
NEXT_PUBLIC_TREASURY_ADDRESS=0xe5E5e732d94e306ad3a30F33ffe4dA809f177488

# Base Mainnet RPC URL
BASE_RPC_URL=https://mainnet.base.org